footer{
    background: $dark-grey;
    padding: 40px 0;
    .bigfoot{
        vertical-align: bottom;
        .postal-info{
            p{
                color: $white;
            }
        }
        .legals{
            text-align: right;
            vertical-align: bottom;
            ul{
                margin-bottom: 0;
                li{
                    list-style: none;
                    color: $white;
                    &:last-child{
                        padding-top: 10px;
                    }
                    a{
                        text-decoration: none;
                        border-bottom: 1px solid $very-light-grey;
                        color: $white;
                        transition: 0.4s ease all;
                        padding-bottom: 2px;
                        &:hover{
                            transition: 0.4s ease all;
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
}
