// COLORS

$orange: #ff9900;
$orange-hover: #b16501;
$dark-grey: #424242;
$very-light-grey: #f7f7f7;
$white: #fff;
$black: #000;

// FONTS

$opensans: 'Open Sans', sans-serif;
$montserra: 'Montserrat', sans-serif;
